In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('/Users/kritsatornsaengweang/Downloads/logistics-shopee-code-league/delivery_orders_march.csv')
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

In [4]:
d2 = pd.read_excel('/Users/kritsatornsaengweang/Downloads/logistics-shopee-code-league/SLA_matrix.xlsx')
d2.head()

,1st Attempt SLA\n(Working Days),Unnamed: 1,Destination (Buyer),Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Metro Manila,Luzon,Visayas,Mindanao
1,Origin\n(Seller),Metro Manila,3 working days,5 working days,7 working days,7 working days
2,NaN,Luzon,5 working days,5 working days,7 working days,7 working days
3,NaN,Visayas,7 working days,7 working days,7 working days,7 working days
4,NaN,Mindanao,7 working days,7 working days,7 working days,7 working days

In [7]:
import time 
date1 = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(df['pick'][0] ))
date1

'2020-03-02 15:39:57'

In [14]:
df['buyeraddress'][1].split(' ')[-1]

'Manila'

In [16]:
Town = [ [3 , 5 , 7, 7] , [5 , 5 , 7 ,7 ] ,[ 7 ,7 ,7 ,7] , [7 ,7 , 7 , 7] ]
Town_Name =[  {'manila' : 0 } , { 'luzon' : 1 } , { 'visayas' : 2 } , { 'mindanao' : 3 }]

In [19]:
Town_Name

[{'manila': 0}, {'luzon': 1}, {'visayas': 2}, {'mindanao': 3}]

In [89]:
import datetime
date2 = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(df['1st_deliver_attempt'][0] ))
date_time_obj = datetime.datetime.strptime(date1, '%Y-%m-%d %H:%M:%S')
date_time_obj2 = datetime.datetime.strptime(date2, '%Y-%m-%d %H:%M:%S')
print('date1 : ',date1)
print('date2 : ',date2)
print('Date:', date_time_obj2.date() - date_time_obj.date())
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)

date1 :  2020-03-02 15:39:57
date2 :  2020-03-05 12:09:18
Date: 3 days, 0:00:00
Time: 15:39:57
Date-time: 2020-03-02 15:39:57

In [68]:
df = df.fillna(0)
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,1583138397,1.583385e+09,0.000000e+00,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,1583306434,1.583460e+09,0.000000e+00,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,1583419016,1.583556e+09,0.000000e+00,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,1583318305,1.583480e+09,0.000000e+00,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

In [79]:
Town = [ [3 , 5 , 7, 7] , [5 , 5 , 7 ,7 ] ,[ 7 ,7 ,7 ,7] , [7 ,7 , 7 , 7] ]
Town_Name = {'manila' : 0  ,  'luzon' : 1  ,  'visayas' : 2  ,  'mindanao' : 3 }

In [87]:
def DayMax( a , b ) :
    for key , val in Town_Name.items() :
        if ( key == a.lower()):
            T_a = val
        if ( key == b.lower()):
            T_b = val
#     print(Town[T_a][T_b])
    return Town[T_a][T_b]
DayMax('manila','manila')

3

In [95]:
from datetime import date, timedelta
def NumberHol( date_a , date_b ) :
    hol = 0
    arr_hol = [ date(2020, 3, 8) , date(2020, 3, 25) , date(2020, 3, 30) , date(2020, 3, 31)]
    for i in arr_hol :
        if date_a < i < date_b :
            hol += 1 
    dstart = date_a 
    dend = date_b
    g = [dstart + timedelta(days=x) for x in range((dend-dstart).days + 1) if (dstart + timedelta(days=x)).weekday() == 6]
    return hol + len(g)
NumberHol(date_time_obj.date() , date_time_obj2.date())

0

In [112]:
ANS = []
ANS_ROW = []
ANS_ROW.append(df['orderid'][0])
ANS_ROW.append(1)
ANS.append(ANS_ROW)
DF_2 = pd.DataFrame(ANS,columns=['orderid', 'is'])
DF_2

      orderid  is
0  2215676524   1

In [119]:
ANS = []
j = 0
for i in range(len(df)) :
#     if ( j > 5 ) : 
#         break
#     else :
#         j += 1 
    
    ANS_ROW = []
    ANS_ROW.append(df['orderid'][i])
    ANS_DELI = 1
    
    if( i % 100000 == 0 ) :
        print(i)
    
    date_pick = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(df['pick'][i] ))
    date_1 = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(df['1st_deliver_attempt'][i] ))
    date_2 = ''
    if ( df['2nd_deliver_attempt'][i]  ) :
        date_2 = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(df['2nd_deliver_attempt'][1] ))   
    
    date_pick_obj = datetime.datetime.strptime(date_pick, '%Y-%m-%d %H:%M:%S')
    date_1_obj = datetime.datetime.strptime(date_1, '%Y-%m-%d %H:%M:%S')
    date_2_obj = object()
    if ( date_2 != '') :
        date_2_obj = datetime.datetime.strptime(date_2, '%Y-%m-%d %H:%M:%S')
#         print( ' date 2 : ' , date_2_obj.date())

#     print('Order : ' , i)
#     print('Order Date:', (date_1_obj.date() - date_pick_obj.date()).days  - 1) # minus 1
    deliver_pick_to_1 = (date_1_obj.date() - date_pick_obj.date()).days  - 1
#     selleraddress
    max_day = DayMax(df['selleraddress'][i].split(' ')[-1] , df['buyeraddress'][i].split(' ')[-1])
#     print('MaxDAY : ' , max_day)
    hol_pick_to_1 = NumberHol(date_pick_obj.date() , date_1_obj.date())
#     print('hol_pick_to_1 :' ,hol_pick_to_1)
#     print('deluver_pick_to_1 : ', deliver_pick_to_1)
#     print('to : ',max_day + hol_pick_to_1 )
    if ( date_2 != '' ):
        deliver_1_to_2 = (date_2_obj.date() - date_1_obj.date()).days  - 1
        max_day_2 = 3
        hol_1_to_2 = NumberHol(date_1_obj.date() , date_2_obj.date())
    
    if( deliver_pick_to_1 <= max_day + hol_pick_to_1 ) :
        ANS_DELI = 0
    elif ( date_2 != '' ):
        if( deliver_1_to_2 <= max_day_2 + hol_1_to_2) :
            ANS_DELI = 0
    else :
        ANS_DELI = 1
#     print(ANS_DELI)
    ANS_ROW.append(ANS_DELI)
    ANS.append(ANS_ROW)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000

In [128]:
DF_2 = pd.DataFrame(ANS,columns=['orderid', 'is_late'])
DF_2.head()

TypeError: Index(...) must be called with a collection of some kind, False was passed

In [110]:
d1 = date(2020,3,2)
d2 = date(2020,3,9)
print(d2-d1)

7 days, 0:00:00

In [129]:
DF_2.to_csv('/Users/kritsatornsaengweang/Downloads/logistics-shopee-code-league/ANS4.csv', index = False)

In [125]:
len(DF_2)

3176313

In [123]:
len(df)

3176313

In [127]:
DF_2.head()

      orderid  is_late
0  2215676524        0
1  2219624609        0
2  2220979489        0
3  2221066352        0
4  2222478803        0